#register {
  height: 100%;
  width: 100%;
}

#register main {
  padding-top: 16.8rem;
}

#register main, form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
