#register {
  height: 100%;
  width: 100%;

}

#register main {
  padding-top: 25rem;

}

#register main, form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  color: #383e75;
  font-size: 48px;
}
.subtitle{
  color: #f08803;
  font-size: 28px;
  padding-left: 14px;
}
h3{
  font-size: 28px;
  color: #757575;
  margin-top: 15px;
}
input{
   height: 30px;
   font-size: 24px;
   padding: 2px;
   margin-top: 10px;
   border-radius: 10px;
   border: none;
 }

.error-msg span{
  color: #f00;
}

button {
  background: #f08803;
  color: #383e75;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  font-weight: bold;

}

span > #txtsexo{
  font-size: 20px;
}



