#auth-wrapper {
  /* Box-model */
  height: 100%;
  width: 100%;
  background-color: var(--color-background);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 115px;
}

#auth-wrapper > aside {
  display: flex;
  justify-content: center;
  align-items: center;
}


#auth-wrapper > footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-white);
  grid-column: 1 / span 2;
}
