@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --color-background: #dbdbdb;
  --color-white: #ffffff;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 14px;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

*:focus {
  outline: 0;
}

html, body, #root {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
